@using System.Web.UI.WebControls
@model VidlyMVC.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<div>
    <table id="tblCustomersMain" class="table table-bordered table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @*@foreach (var customer in Model.lstCustomers)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name,
                            "Details",
                            "Customers",
                            new {id = customer.Id},
                            null)</td>
                </tr>
            }*@
        </tbody>
    </table>
    

</div>
<hr/>
<form>
    <div class="form-group">
        @Html.LabelFor(m => m.customerInfo.Name)
        @*@Html.TextBox("txtCustName", null, new { @class = "form-control", @PlaceHolder = "Please Enter Name" })*@
        @Html.TextBoxFor(m => m.customerInfo.Name, new { @class = "form-control", @PlaceHolder = "Please Enter Name" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.customerInfo.Address)
        @*@Html.TextBox("txtCustAddress", null, new { @class = "form-control", @PlaceHolder = "Please Enter Address" })*@
        @Html.TextBoxFor(m => m.customerInfo.Address, null, new { @class = "form-control", @PlaceHolder = "Please Enter Address" })
    </div>
    <button id="btnSave" class="btn btn-primary">Save</button>
</form>
<hr/>
@*<table id="tblCustomers" class="table table-bordered table-striped table-hover table-responsive">
    <thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody></tbody>
    
</table>*@

@section scripts
{
    <script type="text/javascript">
        $(function() {
            //DisplayData();
            DisplayCustomer();
            //Create records on button click
            $("#btnSave").click(function() {
                //make customer data
                var cust = {};
                cust.Name = $("#customerInfo_Name").val();
                cust.Address = $("#customerInfo_Address").val();
                //ajax call
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CreateCustomer")',
                    data: '{cust: ' + JSON.stringify(cust) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",  
                    success: function () {  
                        alert("Data has been added successfully.");
                        $("#customerInfo_Name").val("");
                        $("#customerInfo_Address").val("");
                        DisplayCustomer();
                    },  
                    error: function () {  
                        alert("Error while inserting data");  
                    }  
                });
                return false;
            });
        });

            //Display Record Function
        function DisplayCustomer() {
            //$("#tblCustomers tbody tr").remove();
            $("#tblCustomersMain tbody tr").remove();

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCustomers")',
                dataType: "json",
                data: { Id: '' },
                success: function(data) {
                    $.each(data, function (i, item) {
                        var urlDetails = '@Url.Action("Details","Customers", new { id = 1}, null)';
                        urlDetails = urlDetails.replace("1", item.Id);
                        var urlEdit = '@Url.Action("Edit","Customers", new { id = 1}, null)';
                        urlEdit = urlEdit.replace("1", item.Id);
                        var rows = "<tr>"
                            + "<td>" + "<a href='" + urlDetails + "'>"+item.Name+"</a>" + "</td>"
                            + "<td>" + item.Address + "</td>"
                            + "<td>" + "<a href='" + urlEdit + "'>Edit</a>" + "</td>"
                            + "</tr>";
                        //$("#tblCustomers tbody").append(rows);
                        $("#tblCustomersMain tbody").append(rows);
                    });
                },
                error: function (ex) {  
                    var r = jQuery.parseJSON(response.responseText);  
                    alert("Message: " + r.Message);  
                    alert("StackTrace: " + r.StackTrace);  
                    alert("ExceptionType: " + r.ExceptionType);  
                }
            });
        }
    </script>
}
